# Configuration file

general {
    I:EntityAshen=1
    I:EntityBat=1
    I:EntityBlaze=1
    I:EntityCreeper=1
    I:EntityDweller=1
    I:EntityEnderman=1
    I:EntityKarateZombie=1
    I:EntityPig=1
    I:EntitySheep=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntitySkeleton=1
    I:EntitySlime=1
    I:EntitySmallFireball=1
    I:EntitySpider=1
    I:EntityStray=1
    I:EntityWitch=1
    I:EntityZombie=1
    I:EntityZombieVillager=1
    I:"update Interval"=1000
}


